<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="text-align:center">
    <H1>Cadastrar carro</H1>
   
    <a href="/">Voltar para Home</a>
       
    <form action="/salvar">
        <input type="text" name="marca" placeholder="Digite a marca"> <br>
        <input type="text" name="modelo" placeholder="Digite o modelo"> <br>
        <input type="text" name="categoria" placeholder="Digite a categoria"> <br>
        <input type="text" name="ano" placeholder="Digite o ano"> <br>

        <input type="submit" value="Salvar">
    </form>
</body>
</div>
</html>