<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pagina}}</title>
    <h1>Cadastrar veículos</h1>
</head>
<body>
        <a href="/salvos">Cadastrados</a>
    <!-- formulario no html é o form -->
    <!-- Comando <br> é para pular de linha -->
    <!-- placeholder serve para colocar um nome dentro de um input -->
    <form action="/salvar">
        <label for="marca">Marca: </label>
        <input type="text" name="marca" id="marca" placeholder="Digite a marca"> 
        
        <label for="modelo">Modelo: </label>
        <input type="text" name="modelo" id="modelo" placeholder="Digite o modelo"> 
        
        <label for="categoria">Categoria :</label>
        <input type="text" name="categoria" id="categoria" placeholder="Digite a categoria"> 
        
        <label for="ano">Ano: </label>
        <input type="text" name="ano" id="ano" placeholder="Digite o ano"> 
        
        <input type="submit" value="Cadastrar"> 

       
    </form>
</body>

<body>
    
</body>
</html>