<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pagina}}</title>
</head>
<body>
    <a href="/salvos">Cadastrar</a>
    <table>
        <tr>
            <th>Modelo</th>
            <th>Categoria</th>
            <th>Ano</th>
            <th>Marca</th>
        </tr>
    </table>
    <tbody>
        {% for c in lista %}
        <tr>
            <td>{{c [0]}}</td>
            <td>{{c [1]}}</td>
            <td>{{c [2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>