<!DOCTYPE html>
<html lang="en">
<head>
   <title>Contato para shows</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
        <table id='tabela-avaliacao'>
                <thread>
                        <th>Data da avaliação</th>
                        <th>Matéria</th>
                        <th>Nota final</th>
                        <tbody>
                        {% for a in variavel_avaliacao %}
                    <tr>
                            <td>{{a.data}}</td>
                            <td>{{a.avaliacao}}</td>
                            <td>{{a.nota}}</td>
                         </tr>
                {% endfor %}
                        </tbody>
                </thread>
            </table>
</body>
</html>