<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pagina}}</title> 
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
<body>

    <a href="/cadastrar">Cadastrar Pizza</a>
    <table>
        <thead>
           <tr>
               <th>Sabores</th>
               <th>Tamanho</th>
               <th>Endereço</th>
           </tr>
            <tbody>
                {% for c in lista %}
                <tr>
                    <td>{{c [0] }}</td>
                    <td>{{c [1] }}</td>
                    <td>{{c [2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</body>
</html>